name: Gitleaks Secret Scan

on:
  workflow_dispatch:  # Manual trigger
#   push:
#     branches:
#       - main
#       - master
#       - develop
#   pull_request:
#     branches:
#       - main
#       - master

jobs:
  gitleaks:
    name: Scan for Secrets
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags
      
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
